################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MissingNumberDemo/obj
/MissingNumberDemo/bin/Debug/net8.0
/.vs/MissingNumberDemo/FileContentIndex
